{
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@ianvs/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^[~]",
    "",
    "^[.]"
  ],
  "overrides": [
    {
      "files": "**/*.test.ts",
      "options": {
        "importOrder": [
          "^vitest",
          "",
          "<THIRD_PARTY_MODULES>",
          "",
          "^[~]",
          "",
          "^[.]"
        ]
      }
    }
  ]
}
