rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /orders/{orderId} {
      allow read: if resource.data.servedAt == null;
      allow read, write: if request.auth.uid == "foobar";
    }
    match /global/{docId} {
      allow read, write: if request.auth.uid == "foobar";
    }
  }
}
